<body>
    <h1 class="title">Cocktailicious</h1>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="card" style="background: url('http://cdn.justalittlebitofbacon.com/wp-content/uploads/2016/11/pomegranate-prosecco-cocktail-3.jpg');">
            <div class="card-description">
              <div class="text-bottom">
                <p class="column-centered">
                  <%= cocktail.name %>
                </p>
              </div>
            </div>
          </div>
      </div>
          <% end %>
      <% end %>
    </div>
  </div>

</div>
</body>
