<h1>Cocktails</h1>
<body>

<ul><% @cocktails.each do |cocktail| %>
  <li><%= cocktail.name %></li>

  <li><%= link_to 'Show', cocktail_path(cocktail) %></li>

  <% end %>
</ul>

</body>
<!-- DISPLAY DOSES !!! -->
