<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
    <img src="https://us.brugal-rum.com/wp-content/uploads/sites/4/2017/08/Extra-Viejo-Dark-Stormy-1280x1648.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right">

    <a href="" class="navbar-item navbar-link"><%= link_to 'Add a Cocktail', new_cocktail_path %></a>
    <input class="searchbar" type="text" placeholder="Search for Cocktails...">
    <!-- Profile picture with dropdown list -->
    </div>
  </div>
