.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 0px -10px 0px;
}

/* Logo */
.navbar-logo img {
  height: 90px;
  width: 80px;
}


/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quattrocento', serif;
  a:link {
    font-size: 17px;
    color: #FFD447;
    text-decoration: none;
    padding-right: 30px;
  }
  a:visited {
    font-size: 17px;
    color: #FFD447;
    text-decoration: none;
    padding-right: 30px;
  }
   a:hover {
    font-size: 17px;
    color: #f1b800;
    text-decoration: none;
    padding-right: 30px;
  }

}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: #FFD447;
  font-size: 17px;
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}

.searchbar {
    border: 1px solid #ffe9d7;
    padding: 5px 15px;
    margin-bottom: 6px;
    font-size: 17px;
}
